@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles Start Here */

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

p {
    font-size: 1.6rem;
}

header {
    width: 100%;
    height: 5rem;
    margin-bottom: 7.5rem;
}

nav {
    display: block;
    width: 100%;
    height: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

nav button {
    font-size: 1.6rem;
    border: none;
    border-radius: 1rem;
    height: 5rem;
    width: 12rem;
    padding: 0 .5rem;
    margin: 0 10%;
}

nav button a {
    text-decoration: none;
    color: white;
}

nav button:hover a {
    color: black;
}

nav button:nth-child(1) {
    background-color: #FF764E;
    transition: .3s;
}

nav button:nth-child(1):hover {
    background-color: white;
}

nav button:nth-child(2) {
    background-color: #5ED3EB;
    transition: .3s;
}

nav button:nth-child(2):hover {
    background-color: white;
}

nav button:nth-child(3) {
    background-color: #FFCD69;
    transition: .3s;
}

nav button:nth-child(3):hover {
    background-color: white;
}

.intro-section {
    height: 30rem;
    width: 100%;
    margin: 0 auto;
}

.header-div {
    display: inline-block;
    text-align: center;
}

.header-img-div {
    display: inline-block;
    width: 30%;
    padding-left: 12rem;
}

.header-img {
    width: 30rem;
    border-radius: 50%;
    display: inline-block;
}

.header-text-div {
    display: inline-block;
    height: 30rem;
    width: 60%;
    margin-top: ;
    text-align: center;
}

.header-text-div p {
    font-size: 1.8rem;
    width: 70%;
    margin: 3rem auto -1rem auto;
}

.intro-section h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 6.2rem;
}

.about-section {
    width: 90%;
    margin: 5rem auto 0 auto;
    padding: 1.5rem;
    text-align: center;
    background-color: #DDB9A3;
    color: white;
}

section.info-section {
    width: 100%;
    text-align: center;
}

.info-section-img {
    width: 10rem;
    padding: 5rem;
}

.info-section div {
    text-align: center;
}

.bold {
    font-weight: 700;
}

.footer-img-div {
    background-image: url("assets/footer_img.jpg");
    background-size: cover;
    background-position: top;
    height: 32rem;
    width: 100%;
    margin-top: 10rem;
}

footer {
    background-color: #F9E7DC;
    padding-bottom: 1rem;
}